.card {
  margin: 2rem auto;
  width: 500px;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
